body {
	font-family:Arial;
	background-color: #2E0B03;
}

h1 {
	font-size:3em;
	color: #DFD0CD;
	padding-top:50px;
	padding-left:25px;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #333;
  bottom: 0;
  position: fixed;
  overflow: auto;
  width: 100%;
  left: 0;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 0.6em;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #DFD0CD;
  color: #2E0B03;
  font-size: 0.8em;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #2E0B03;
  color: #DFD0CD;
  font-size: 0.8em;
}
